[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = AT
ST = Vorarlberg
L = Dornbirn
O = Goa Systems
OU = IT department
CN = server1
emailAddress = andreas.gottardi@goa.systems

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = server1.goa.systems